:root {
  --color-primary:#c0392b ;
  --color-accent: #982bc0;
  --color-bg: #ffffff;
  --color-text: #000000;
  --font-main: Arial;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body.page {
  margin: 0;
  font-family: var(--font-main);
 color: var(--color-text);
 background: var(--color-bg);
}